body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    width: 80%;
    max-width: 900px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.left-section {
    background-color: white;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-section {
    background-color: #184e77;
    color: white;
    padding: 40px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    max-width: 350px;
    margin-bottom: 30px;
}

form {
    width: 100%;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.icon {
    margin-right: 10px;
    color: #888;
}

input {
    border: none;
    outline: none;
    background: none;
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #184e77;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f3941c;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}


.alert {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    padding: 15px;
    margin: 0;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(100%);
}
.alert-success { background-color: #4caf50; }
.alert-danger { background-color: #f44336; }
.alert-info { background-color: #2196f3; }
.alert-warning { background-color: #ff9800; }
.alert.show {
    opacity: 1;
    transform: translateX(0);
}
