{% extends "base.html" %}
{% block title %}Changer le mot de passe{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Changer le mot de passe</h2>
    <!-- Afficher les informations de l'utilisateur -->
    <div class="card mb-4">
        <div class="card-header">
            Informations de l'utilisateur
        </div>
        <div class="card-body py-2">
            <p class="mb-1"><strong>Nom d'utilisateur :</strong> {{ current_user.username }}</p>
            <p class="mb-1"><strong>Rôle :</strong> {{ current_user.get_role_name() }}</p>
            <p class="mb-1"><strong>Structure :</strong> {{ structure.structure_name }}</p>
        </div>
    </div>
    <div class="mt-4"> <!-- Ajout d'une marge supérieure pour espacer les sections -->
        <form method="POST" action="{{ url_for('auth.change_password') }}">
            <div class="form-group">
                <label for="current_password">Mot de passe actuel</label>
                <input type="password" class="form-control" id="current_password" name="current_password" required>
            </div>
            <div class="form-group">
                <label for="new_password">Nouveau mot de passe</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="new_password" name="new_password" required>
                    <div class="input-group-append">
                        <span class="input-group-text" onclick="togglePasswordVisibility('new_password')">
                            <span class="material-symbols-outlined">visibility_off</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirmer le nouveau mot de passe</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    <div class="input-group-append">
                        <span class="input-group-text" onclick="togglePasswordVisibility('confirm_password')">
                            <span class="material-symbols-outlined">visibility_off</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
            </div>
        </form>
    </div>
</div>

<script>
function togglePasswordVisibility(fieldId) {
    var field = document.getElementById(fieldId);
    var icon = field.nextElementSibling.querySelector('.material-symbols-outlined');
    if (field.type === "password") {
        field.type = "text";
        icon.textContent = 'visibility';
    } else {
        field.type = "password";
        icon.textContent = 'visibility_off';
    }
}
</script>
{% endblock %}
