{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Créer un Materiel</h2>
    <form method="POST" action="{{ url_for('employee.cree_mat') }}" novalidate>
        {{ form.hidden_tag() }} {{ form.csrf_token }}
        <div class="form-group">
            {{ form.id_mat.label(class="form-control-label") }}
            {% if form.id_mat.errors %}
                {{ form.id_mat(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.id_mat.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form.id_mat(class="form-control") }}
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.marque.label(class="form-control-label") }}
            {% if form.marque.errors %}
                {{ form.marque(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.marque.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form.marque(class="form-control") }}
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.typeMat.label(class="form-control-label") }}
            {% if form.typeMat.errors %}
                {{ form.typeMat(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.typeMat.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form.typeMat(class="form-control", rows=3) }}
            {% endif %}
        </div>
        

        
        <div class="text-right">
            <button type="reset" class="btn btn-secondary">Annuler</button>
            <button type="submit" class="btn btn-success">Valider</button>
        </div>
    </form>
</div>
{% endblock %}
