{% extends 'base.html' %}
{% block title %}Modifier Ticket{% endblock %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Modifier Ticket - {{ ticket.titre }}</h2>
    <p class="mb-4">{{ ticket.description_ticket }}</p>
    <form method="POST" action="{{ url_for('admin.edit_ticket', ticket_id=ticket.id_ticket) if current_user.get_temp_role() == 'admin' else url_for('super_admin.edit_ticket', ticket_id=ticket.id_ticket) }}" novalidate>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        
        <div class="form-group">
            {{ form.categorie.label(class="form-control-label") }}
            {% if form.categorie.errors %}
                {{ form.categorie(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.categorie.errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% else %}
                {{ form.categorie(class="form-control") }}
            {% endif %}
        </div>
        
        <div class="form-group">
            {{ form.urgent.label(class="form-control-label") }}
            <div>
                {% for subfield in form.urgent %}
                    <label class="radio-inline">
                        {{ subfield }} {{ subfield.label }}
                    </label>
                {% endfor %}
            </div>
        </div>

        <div class="text-right">
            <button type="button" class="btn btn-secondary" onclick="window.history.back();">Annuler</button>
            <button type="submit" class="btn btn-success">Enregistrer</button>
        </div>
    </form>
</div>
{% endblock %}
