{% extends 'base.html' %}

{% block title %}Edit Structure{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Structure</h2>
    <form method="POST" action="{{ url_for('admin.edit_structure', id=structure.structure_id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.structure_name.label(class="form-control-label") }}
            {{ form.structure_name(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
