{% extends 'base.html' %}

{% block title %}Edit Marque{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit Marque</h2>
    <form method="POST" action="{{ url_for('admin.edit_marque', id=marque.marque_id) }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.marque_name.label(class="form-control-label") }}
            {{ form.marque_name(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
    </form>
</div>
{% endblock %}
