{% extends 'base.html' %}

{% block title %}Détail du Fournisseur{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">{{ fournisseur.fournisseur_name }}</h1>
    <div class="card">
        <div class="card-header">
            <h2>Liste des Matériaux</h2>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Code à Barre</th>
                        <th scope="col">Type</th>
                        <th scope="col">Marque</th>
                        <th scope="col">Modèle</th>
                    </tr>
                </thead>
                <tbody>
                    {% for material in materials %}
                    <tr>
                        <td>{{ material.code_a_barre }}</td>
                        <td>{{ material.type.type_name }}</td>
                        <td>{{ material.marque.marque_name }}</td>
                        <td>{{ material.modele.modele_name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
