{% extends 'base.html' %}
{% block title %}Accueil{% endblock %}

{% block content %}
<div class="centerise">
    <!-- Show all statuses for super admin -->
    {% if 'super_admin' in current_user.roles %}
    <div class="row">
        <div class="ticket-status nouveau">
            <button onclick="window.location.href='{{ url_for('employee.view_tickets_by_status', status='nouveau') }}'">{{ new_tickets }} <br>nouveau</button>
        </div>
        <div class="ticket-status en-cours">
            <button onclick="location.href='{{ url_for('employee.view_tickets_by_status', status='en_cours') }}'">{{ in_progress_tickets }}<br>en cours</button>
        </div>
    </div>
    <div class="row">
        <div class="ticket-status en-reparation">
            <button onclick="location.href='{{ url_for('employee.view_tickets_by_status', status='en_reparation') }}'">{{ in_repair_tickets }}<br>en réparation</button>
        </div>
        <div class="ticket-status clos">
            <button onclick="location.href='{{ url_for('employee.view_tickets_by_status', status='clos') }}'">{{ closed_tickets }}<br>clos</button>
        </div>
    </div>

    <!-- Show all statuses except 'nouveau' for admin -->
    {% elif 'admin' in current_user.roles %}
    <div class="row">
        <div class="ticket-status en-cours">
            <button onclick="location.href='{{ url_for('admin.view_tickets_by_status', status='en_cours') }}'">{{ in_progress_tickets }}<br>en cours</button>
        </div>
        <div class="ticket-status en-reparation">
            <button onclick="location.href='{{ url_for('admin.view_tickets_by_status', status='en_reparation') }}'">{{ in_repair_tickets }}<br>en réparation</button>
        </div>
        <div class="ticket-status clos">
            <button onclick="location.href='{{ url_for('admin.view_tickets_by_status', status='clos') }}'">{{ closed_tickets }}<br>clos</button>
        </div>
    </div>

    <!-- Show all statuses for employees -->
    {% else %}
    <div class="row">
        <div class="ticket-status nouveau">
            <button onclick="window.location.href='{{ url_for('employee.view_tickets_by_status', status='nouveau') }}'">{{ new_tickets }} <br>nouveau</button>
        </div>
        <div class="ticket-status en-cours">
            <button onclick="location.href='{{ url_for('employee.view_tickets_by_status', status='en_cours') }}'">{{ in_progress_tickets }}<br>en cours</button>
        </div>
    </div>
    <div class="row">
        <div class="ticket-status en-reparation">
            <button onclick="location.href='{{ url_for('employee.view_tickets_by_status', status='en_reparation') }}'">{{ in_repair_tickets }}<br>en réparation</button>
        </div>
        <div class="ticket-status clos">
            <button onclick="location.href='{{ url_for('employee.view_tickets_by_status', status='clos') }}'">{{ closed_tickets }}<br>clos</button>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
