{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Materiel</h2>
    <table class="table">
        <thead>
            <tr>
                <th>name</th>
                <th>important_info</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for materiel in materiel_list %}
            <tr>
                <td>{{ materiel.name }}</td>
                <td>{{ materiel.important_info }}</td>
                <td>{{ materiel.type }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
