{% extends 'base.html' %}

{% block title %}Paramétrage{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center mb-4">Paramétrage</h2>
    <div class="row">
        <!-- Bouton Structures -->
        <div class="col-md-3 mb-1">
            <div class="card text-center shadow-sm">
                <div class="card-body p-2">
                    <h5 class="card-title">Structures</h5>
                    <p class="card-text">Gérez vos structures ici.</p>
                    <a href="{{ url_for('admin.structures') }}" class="btn btn-primary btn-sm">Aller aux Structures</a>
                </div>
            </div>
        </div>
        <!-- Bouton Marques -->
        <div class="col-md-3 mb-1">
            <div class="card text-center shadow-sm">
                <div class="card-body p-2">
                    <h5 class="card-title">Marques</h5>
                    <p class="card-text">Gérez vos marques ici.</p>
                    <a href="{{ url_for('admin.marques') }}" class="btn btn-primary btn-sm">Aller aux Marques</a>
                </div>
            </div>
        </div>
        <!-- Bouton Types -->
        <div class="col-md-3 mb-1">
            <div class="card text-center shadow-sm">
                <div class="card-body p-2">
                    <h5 class="card-title">Types</h5>
                    <p class="card-text">Gérez vos types ici.</p>
                    <a href="{{ url_for('admin.types') }}" class="btn btn-primary btn-sm">Aller aux Types</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
