{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Tickets - {{ status }}</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Urgency</th>
                <th>Material</th>
                {% if current_user.role.name in ['admin', 'super_admin'] %}
                <th>Creator</th>
                <th>Assigned Admin</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets_list %}
            <tr>
                <td><a href="{{ url_for('admin.view_ticket', ticket_id=ticket.id_ticket) }}">{{ ticket.titre }}</a></td>
                <td>{{ ticket.category_name }}</td>
                <td>{{ ticket.urgent }}</td>
                <td>{{ ticket.material_name or 'N/A' }}</td>
                {% if current_user.role.name in ['admin', 'super_admin'] %}
                <td>{{ ticket.creator_username }}</td>
                <td>{{ ticket.assigned_admin_username or 'N/A' }}</td>
                {% endif %}
                <td>
                    {% if (ticket.statut == 'nouveau' or ticket.statut == 'en_cours') and current_user.role.name == 'super_admin' %}
                    <a href="{{ url_for('super_admin.assign_ticket', ticket_id=ticket.id_ticket) }}" class="btn edit-btn" title="affecter">
                        <span class="material-symbols-outlined">assignment_add</span>
                    </a>
                    {% elif ticket.statut == 'nouveau' and current_user.role.name == 'employee' %}
                    <a href="{{ url_for('employee.edit_ticket', ticket_id=ticket.id_ticket) }}" class="btn edit-btn" title="Edit">
                        <span class="material-symbols-outlined">edit</span>
                    </a>
                    {% else %}
                    No actions available
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
