{% extends 'base.html' %}
{% block title %}Détails du Ticket{% endblock %}

{% block content %}
<style>
    .container-custom {
        padding: 2rem;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .ticket-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;
    }
    .ticket-info {
        margin-bottom: 1rem;
    }
    .ticket-info h3 {
        margin-bottom: 0.5rem;
        color: #007bff;
        font-size: 1.75rem;
        font-weight: bold;
    }
    .ticket-info p {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: #495057;
    }
    .comments-section {
        background-color: #f8f9fa;
        border-radius: 5px;
        padding: 1rem;
        margin-top: 1rem;
    }
    .comment {
        display: flex;
        margin-bottom: 15px; /* Space between comments */
    }
    .comment-body {
        border: 1px solid #ddd;
        border-radius: 15px;
        padding: 1rem;
        max-width: 60%;
        word-break: break-word;
    }
    .current-user {
        background-color: #cce5ff; /* Light blue for current user */
    }
    .other-user {
        background-color: #e2e3e5; /* Light gray for other users */
    }
    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }
    .form-control {
        flex-grow: 1;
    }
    .btn-icon {
        margin-left: 0.5rem;
        background: none;
        border: none;
        cursor: pointer;
    }
    .material-symbols-outlined {
        vertical-align: middle;
        font-size: 24px;
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
    }
    .btn-attach, .btn-send {
        width: 50px;
        height: 50px;
        color: #000000;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5rem !important;
        margin-right: 0px !important;
    }
    .comment-photo img {
        width: auto;
        height: auto;
        cursor: pointer;
        display: block;
        border-radius: 0;
        max-width: 100%;
    }
    .modal-body img {
        width: auto;
        height: auto;
        max-width: 100%;
        border-radius: 0;
    }
    .custom-file-input {
        display: none;
    }
    .button-container form,
    .button-container a {
        margin-right: 0.5rem;
    }
    .attachment-filename {
        margin-bottom: 0.5rem;
        color: #6c757d;
        font-size: 0.9rem;
    }
</style>

<div class="container container-custom">
    <div class="ticket-header">
        <h1>Détails du Ticket</h1>
        <div class="button-container d-flex">
            {% if current_user.role.name == 'admin' and ticket.statut != 'clos' %}
                <form method="post">
                    {{ close_form.hidden_tag() }}
                    <button type="submit" class="btn btn-danger btn-sm">Close Ticket</button>
                </form>
                {% if ticket.statut != 'en_reparation' and (ticket.category.category_name == 'Panne Hard' or ticket.material_id) %}
                <a href="{{ url_for('admin.repair_ticket', ticket_id=ticket.id_ticket) }}" class="btn btn-warning btn-sm">Send to Repair</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="ticket-info">
        <h3>{{ ticket.titre }}</h3>
        <p>{{ ticket.description_ticket }}</p>
        <p><strong>Catégorie :</strong> {{ ticket.category.category_name }}</p>
        <p><strong>Urgence :</strong> {{ ticket.urgent }}</p>
    </div>
    <div class="comments-section">
        {% for comment in comments %}
        <div class="row">
            <div class="col-12 d-flex {% if comment.user_id == current_user.user_id %}justify-content-start{% else %}justify-content-end{% endif %}">
                <div class="comment-body {% if comment.user_id == current_user.user_id %}current-user{% else %}other-user{% endif %}">
                    <p>{{ comment.comment_text }}</p>
                    {% for photo in comment.photos %}
                    <div class="comment-photo">
                        <img src="data:image/jpeg;base64,{{ photo.image_data | b64encode }}" alt="Photo attached to comment" data-toggle="modal" data-target="#photoModal-{{ photo.photo_id }}">
                    </div>

                    <!-- Modal for displaying the image -->
                    <div class="modal fade" id="photoModal-{{ photo.photo_id }}" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel-{{ photo.photo_id }}" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="photoModalLabel-{{ photo.photo_id }}">Photo</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="data:image/jpeg;base64,{{ photo.image_data | b64encode }}" alt="Photo attached to comment" class="img-fluid">
                                </div>
                                <div class="modal-footer">
                                    <a href="data:image/jpeg;base64,{{ photo.image_data | b64encode }}" download="comment_photo.jpg" class="btn btn-primary">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <p class="small text-muted">By: {{ comment.user.username }} on {{ comment.created_at }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not current_user.is_super_admin and ticket.statut != 'clos' %}
    <form method="post" class="mt-3" enctype="multipart/form-data">
        {{ comment_form.hidden_tag() }}
        <div class="attachment-filename" id="attachment-filename"></div> <!-- Placeholder for attachment filename -->
        <div class="form-group">
            {{ comment_form.comment_text(class="form-control", placeholder="Type your comment...") }}
            <label for="comment_form_photo" class="btn btn-attach btn-icon">
                <span class="material-symbols-outlined">attach_file</span>
            </label>
            <input type="file" id="comment_form_photo" class="custom-file-input" name="photo">
            <button type="submit" class="btn btn-send btn-icon">
                <span class="material-symbols-outlined">send</span>
            </button>
        </div>
    </form>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fileInput = document.getElementById('comment_form_photo');
        const fileLabel = document.querySelector('.btn-attach');
        const attachmentFilename = document.getElementById('attachment-filename');

        fileInput.addEventListener('change', function () {
            if (fileInput.files.length > 0) {
                attachmentFilename.textContent = fileInput.files[0].name;
            } else {
                attachmentFilename.textContent = '';
            }
        });
    });
</script>
{% endblock %}
