{% extends 'base.html' %}

{% block title %}Détail de la FAQ{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>{{ faq.objet }}</h2>
    <p><strong>Catégorie :</strong> {{ faq.category.category_name }}</p>
    <p><strong>Posée par :</strong> {{ faq.user.username }}</p>  <!-- Ajuster en fonction de votre modèle utilisateur -->
    <p><strong>Contenu :</strong> {{ faq.contenu }}</p>
    <a href="{{ url_for('admin.list_faqs') }}" class="btn btn-link">Retour aux FAQs</a>
</div>
{% endblock %}
